In [1]:
import requests
import pandas as pd

In [3]:
# URL del dataset
url = "https://data.cityofnewyork.us/resource/h9gi-nx95.json"

# Par√°metros para limitar a 500,000 registros
params = {
    "$limit": 200000
}

# Hacer la solicitud GET al API
response = requests.get(url, params=params)

# Verificar si la solicitud fue exitosa
if response.status_code == 200:
    data = response.json()  # Convertir la respuesta a JSON
    df = pd.DataFrame(data)  # Crear un DataFrame de pandas
    print(df.head())  # Mostrar los primeros registros
    df.to_csv('../data/API_data.csv', index=False, encoding='utf-8')
else:
    print(f"Error en la solicitud: {response.status_code}")

                crash_date crash_time           on_street_name  \
0  2021-09-11T00:00:00.000       2:39    WHITESTONE EXPRESSWAY
1  2022-03-26T00:00:00.000      11:45  QUEENSBORO BRIDGE UPPER
2  2022-06-29T00:00:00.000       6:55       THROGS NECK BRIDGE
3  2021-09-11T00:00:00.000       9:35                      NaN
4  2021-12-14T00:00:00.000       8:13          SARATOGA AVENUE

  off_street_name number_of_persons_injured number_of_persons_killed  \
0       20 AVENUE                         2                        0
1             NaN                         1                        0
2             NaN                         0                        0
3             NaN                         0                        0
4  DECATUR STREET                         0                        0

  number_of_pedestrians_injured number_of_pedestrians_killed  \
0                             0                            0
1                             0                            0
2                             0                            0
3                             0                            0
4                             0                            0

  number_of_cyclist_injured number_of_cyclist_killed  ...   latitude  \
0                         0                        0  ...        NaN
1                         0                        0  ...        NaN
2                         0                        0  ...        NaN
3                         0                        0  ...  40.667202
4                         0                        0  ...  40.683304

    longitude                                           location  \
0         NaN                                                NaN
1         NaN                                                NaN
2         NaN                                                NaN
3    -73.8665  {'latitude': '40.667202', 'longitude': '-73.86...
4  -73.917274  {'latitude': '40.683304', 'longitude': '-73.91...

         cross_street_name contributing_factor_vehicle_3 vehicle_type_code_3  \
0                      NaN                           NaN                 NaN
1                      NaN                           NaN                 NaN
2                      NaN                           NaN                 NaN
3  1211      LORING AVENUE                           NaN                 NaN
4                      NaN                           NaN                 NaN

  contributing_factor_vehicle_4 vehicle_type_code_4  \
0                           NaN                 NaN
1                           NaN                 NaN
2                           NaN                 NaN
3                           NaN                 NaN
4                           NaN                 NaN

  contributing_factor_vehicle_5 vehicle_type_code_5
0                           NaN                 NaN
1                           NaN                 NaN
2                           NaN                 NaN
3                           NaN                 NaN
4                           NaN                 NaN

[5 rows x 29 columns]